.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}


.list-container {
    margin-top: 10px;
    border: solid 1px #5a5a5a;
}

.list-header-row {
    font: bold 1.4rem Arial;
    background-color: aliceblue;
    border: solid 1px #5a5a5a;
    margin: 1px;
    padding: 2px 0 2px 0;
}

.list-row:nth-child(odd) {
    background-color: honeydew;
    margin: 1px;
    padding: 2px 0 2px 0;
}

.list-row:nth-child(even) {
    background-color: azure;
    margin: 1px;
    padding: 2px 0 2px 0;
}

.list-row:nth-child(odd):hover {
    background-color: #deebde;
    margin: 1px;
    padding: 2px 0 2px 0;
}

.list-row:nth-child(even):hover {
    background-color: #deebeb;
    margin: 1px;
    padding: 2px 0 2px 0;
}

.form-container {
    border: solid 1px #c3c3c3;
}

.form-row-container {
    background-color: azure;
    padding: 10px;

}

.value-cell {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}