<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book form</title>
</head>
<body>
<h1>Book form</h1>
<form th:action="@{/book/add}" method="post" th:object="${edited_book}">
    <input type="hidden" th:field="*{id}">
    Title: <input type="text" th:field="*{title}"> <br/>
    Year: <input type="number" th:field="*{yearWritten}"> <br/>
    Num of pages: <input type="number" min="1" th:field="*{numberOfPages}"> <br/>
    Num of copies: <input type="number" min="1" th:field="*{numberOfCopies}"> <br/>
    <select th:name="publishingHouseId">
        <option th:each="publishingHouse : ${allPublishingHouses}"
                th:text="${publishingHouse.getName()}"
                th:value="${publishingHouse.getId()}"
                th:selected="${edited_book.getPublishingHouse() != null &&
                                publishingHouse.getId() == edited_book.getPublishingHouse().getId()}">
        </option>
    </select>
    <input type="submit">
</form>
</body>
</html>