<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publishing houses list</title>
    <th:block th:replace="fragments :: styles" th:remove="tag"></th:block>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>
<div class="container">
    <div class="row col-md-12 list-container">
        <div class="row col-md-12">
            <h1>Publishing houses</h1>
        </div>
        <div class="row col-md-12 list-header-row">
            <div class="col-md-2">Id</div>
            <div class="col-md-5">Name</div>
            <div class="col-md-5"></div> <!--Guziki-->
        </div>
        <div class="row col-md-12 list-row" th:each="house : ${phouses}">
            <div class="col-md-2" th:text="${house.getId()}"></div>
            <div class="col-md-5" th:text="${house.getName()}"></div>
            <div class="row col-md-5">
                <div class="col-md-4">
                    <a th:href="@{/ph/remove(phouseId=${house.getId()})}" class="col-md-12">
                        <button type="button" class="btn btn-danger col-md-12">Remove
                        </button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a th:href="@{/ph/edit(phouseId=${house.getId()})}" class="col-md-12">
                        <button type="button" class="btn btn-primary col-md-12">Edit</button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a th:href="@{/ph/books(phouseId=${house.getId()})}" class="col-md-12">
                        <button type="button" class="btn btn-info col-md-12">List books</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments :: jsscripts" th:remove="tag"></th:block>
</body>
</html>